* {
  margin: 0 0;
  padding: 0 0 ;
  box-sizing: border-box;
}
body {
  background-color: #41bd9b;
.container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
svg {
  height: 300px;
  width:  300px;
  animation:invisible 3s linear 20s forwards;

.path {
  fill: #41bd9b;
  stroke-dasharray: 3182.245361328125;
  stroke-dashoffset: 3182.245361328125;
  animation: draw 15s linear forwards, coloring 5s linear 9s forwards;
}
}
.lemon {
  opacity: 0;
  transform: scale(1);
  position: relative;
  width: 70px;
  height: 125px;
  bottom: 10px;
  right: 250px;
animation: bigger 5s linear 12s forwards, shake 1s 17s ease-in 4 alternate, fallingDown 5s linear 21s 1 forwards, invisible 2s linear 27s forwards;
}
}
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes coloring {
  to {
    fill: #000000;
  }
}


@keyframes bigger {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes shake {
  to {
    transform: rotate(10deg);
  }
}
@keyframes fallingDown {
  0% {
    bottom: 10px;
  }
  30% {
    bottom: -120px;
    transform: rotate(30deg);
  }
  100% {
    transform: scale(2) rotate(30deg);
    bottom: -120px
  }
}

@keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
