@import "reset";

$button_color : #D61F1F;

body {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  background: rgba(220, 220, 220, 0.3);
}
.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col {
  flex: 1;
}
section {
  height: 60vh;
  max-width: 100%;

}

header {
  background: black;
  width: 100%;
  height: auto;
  font-weight: bold;
  figure.col {
    flex: 0;
    margin-left: 1vw;
   .logo {
     width: 9.2vw;
     height: 9.2vh;
 }
 }
#menu-check {
  display: none;
}
.navigation.col {
  text-align: center;
  flex-grow: 3;
.menu-list {
  li {
    display: inline-block;
    margin: 3vh 2vh;
    a {
      color: #ffffff;
      font-size: 28px;
      text-decoration: none;
      transition: color 0.5s linear;
      &:hover {
        color: darken($button_color, 10%);
      }
    }
  }
}
}
.contact-header {
  text-align: right;
  font-size: 28px;
  margin-top: 3.4vh;
  margin-right: 1vw;
  white-space: nowrap;
  i {
    color: $button_color;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.5s linear;
    &:hover {
      color: darken($button_color, 10%);
    }
  }
}
}

.call-to-action {
  text-align: left;
  line-height: 1.5;
  font-size: 2.7vh;
  font-family: 'Roboto', sans-serif;
  article {
  flex: 2;
  margin-left: 1vw;
  margin-top: 9vw;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 5%;
  }
  .cta {
    display: inline-block;
    text-decoration: none;
    background: $button_color;
    border-radius: 5px;
    margin-top: 5%;
    padding: 10px 20px;
    color: #ffffff;
    transition: background-color 0.5s linear;
    &:hover {
      background: darken($button_color, 10%);
    }
  }
  .call-to-action-icon {
    text-align: right;
    font-size: 10vw;
    color: darken(#ffb13b,5%);
    margin-top: 16vh;
    margin-right: 1vw;
  }
}
.about   {
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
  background: url('../images/przeformatowane/people.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 2.7vh;
  font-family: 'Roboto', sans-serif;
  article {
    margin-top: 9vw;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 2vw;
    padding-right: 2vw;
  }
  h1 {
    font-size: 2.9vh;
    font-weight: 700;
    margin-bottom: 2%
  }
}
.image-gallery {
  .grid-container {
    height: 100%;
   .row {
     height: 100%;
  .col {
    width: 100%;
    position: relative;
  }
  .slider {
    overflow: hidden;
    white-space: nowrap;
    height: 40vh;
    width: 60vh;
    margin: 10vh  auto;
   .gallery-element {
     width: 100%;
     height: 100%;
     display: inline-block;
   }
  }
  .arrow-next, .arrow-prev {
    color: $button_color;
    font-size: 6vh;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    transition: color 0.5s linear;
    &:hover {
      color: darken($button_color, 10%);
    }
  }
  .arrow-next {
    margin: 16vh 55vh;
    text-shadow: 7px 1px 9px #262B30;
  }
  .arrow-prev {
    margin: 16vh 2vh;
    text-shadow: -7px 1px 9px #262B30;
  }
}
}
}
#map {
  width: 100%;
  iframe {
    width: 100%;
    height: 30vh;
  }
}
footer {
  background: #000000;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.3;
  padding-bottom: 1vh;
  h2 {
    font-size: 3vh;
    margin-bottom: 1vh;
  }
  i {
    color: $button_color
  }
  .company-name_footer {
    text-align: center;
    margin-top: 1vh;
  .logo-footer {
    height: 5vh;
  }
}
.address {
  text-align: center;
  margin-top: 1vh;
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s linear;
    &:hover {
      color: darken($button_color, 10%);
    }
  }
}
  .icons {
    text-align: center;
    margin-top: 1vh;
    .social {
      li {
        display: inline-block;
        img {
          height: 3vh;
        }
      }
    }
  }
}

/* MEDIA */
@media (max-width:640px) and (orientation: landscape) {
  header {
    figure.col {
  .logo {
    width: 50px;
    height: 50px;
  }
}
}
}
@media (max-width: 620px) {
  .row {
  display: block;
  width: 100%;
  .col {
    flex: none;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
header {
  .row {
  figure.col {
    width: 14%;
    margin: 0 auto;
    .logo {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}
.navigation.menu {
  margin: 0 auto;
  width: 15%;
label {
  display: block;
  width: 54px;
}

.line {
  width: 100%;
  height: 11px;
  background: #ffb13b;
  display: block;
  margin: 5px 0;
}
.line-1, .line-3 {
  transition: transform 0.3s linear;
}
.line-2 {
  transition: opacity 0.3s linear;
}
.menu-list {
  display: none;
  z-index: 10;
  position: absolute;
  text-align: center;
  transform: translateX(-28%);
  width:131px;
  transition: margin-top 1s linear;
  li {
    background: #000000;
    padding: 9% 15%;
    box-shadow: 1px 1px 8px;
    margin: 0 0;
    display: block;

  a {
   color: #ffffff;
   font-size: 18px;
   text-decoration: none;
   border-bottom: 1px solid #ffffff;
   border-width: 2px;
   padding: 0 5px;
 }
}
}
#menu-check:checked ~ label + .menu-list {
  display: block;
  height: inherit;
}
#menu-check:checked ~ label >  .line-1 {
  transform: rotate(45deg) translate(19%, 100%);
}
#menu-check:checked ~ label > .line-2 {
  opacity: 0;
}
#menu-check:checked ~ label >  .line-3 {
  transform: rotate(-45deg) translate(23%, -100%);
}
}
.contact-header {
  text-align: center;
  a {
    padding-right: 13vw;
  }
}
}

.call-to-action {
  article.col {
    margin-top: 3vw;
  }
.call-to-action-icon {
  text-align: center;
  font-size: 14vw;
  width: 20%;
  margin-top: 3vw;
}
.cta-button {
  text-align: center;
}
}
.about {
  background-attachment: unset;
  article.col {
    margin-top: 9vw;
    display: inline-block;
  }
}
section.image-gallery {
  height: auto;
}
}

/*.navigation {
  float: none;
  margin: 0 auto;
  label {
    display: block;
    width: 63px;
  }
  .line {
    width: 100%;
    height: 11px;
    background: gray;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
  }
  .line-1, .line-3 {
    transition: transform 0.3s linear;
  }
  .line-2 {
    transition: opacity 0.3s linear;
  }
  .menu-list {
    display: none;
    z-index: 10;
    position: absolute;
    text-align: center;
    transform: translateX(-28%);
    width:131px;
    height: 0;
    transition: height 1s linear;
    li {
      background: #000000;
      padding: 9% 15%;
      box-shadow: 1px 1px 8px;

    a {
     color: #ffffff;
     font-size: 18px;
     text-decoration: none;
     border-bottom: 1px solid #ffffff;
     border-width: 2px;
     padding: 0 5px;
   }
 }
  }
  #menu-check {
    display: none;
  }
  #menu-check:checked ~ label + .menu-list {
    display: block;
    height: inherit;
  }
  #menu-check:checked ~ label >  .line-1 {
    transform: rotate(45deg) translate(19%, 100%);
  }
  #menu-check:checked ~ label > .line-2 {
    opacity: 0;
  }
  #menu-check:checked ~ label >  .line-3 {
    transform: rotate(-45deg) translate(19%, -100%);
  }
} */
